# SAInt log files
*.log
*.gcon
*.gsol
*.econ
*.esol
# vs files
.vs

# bin/obj folders
bin/
obj/

#Outputs
/Outputs/

# Network folders
/HelicsDotNet/Networks/
# !/HelicsDotNet/Networks/**/*.enet
# !/HelicsDotNet/Networks/**/*.esce
# !/HelicsDotNet/Networks/**/*.econ

/HelicsDotNet/packages/UnmanagedExports.1.2.7