# SAInt log files
**/*.log

# bin folders
HelicsDotNet/ElectricFederate/bin/**
HelicsDotNet/GasFederate/bin/**
HelicsDotNet/HelicsDotNetAPI/bin/**

# obj folders
HelicsDotNet/ElectricFederate/obj/**
HelicsDotNet/GasFederate/obj/**
HelicsDotNet/HelicsDotNetAPI/obj/**